<h1>Patients belongs to doctor through appointments</h1>
<% @patients.each do |patient|%>
    Name: <a href="<%= doctors_path(id: patient.id)%>"><%= patient.name%></a><br>
    Email: <%= patient.email%><br>
<% end %>
